<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= typeof title !== 'undefined' ? title : 'GreenTech Ride' %></title>

  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <!-- Navbar -->
  <header class="navbar" >
    <div class="container nav-container container-1300" >
      <!-- Logo -->
      <div class="logo">
        <a href="/">GreenTech Ride</a>
      </div>

      <!-- Navigation -->
      <nav class="nav-links">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/blogs">Blogs</a></li>
          <li><a href="/partner">Partner With Us</a></li>
          <li><a href="/subscription">Subscription</a></li>

          <% if (user && user.role === 'renter') { %>
            <li><a href="/bookings/my">My Bookings</a></li>
          <% } %>
          <% if (user && user.role === 'owner') { %>
            <li><a href="/vehicles/owner/dashboard">Bookking Request</a></li>
          <% } %>
          <% if (user) { %>
            <li><a href="/users/profile">Profile</a></li>
          <% } %>
        </ul>
      </nav>

      <!-- Auth Buttons -->
      <div class="auth-buttons">
        <% if (!user) { %>
          <a href="/users/login" class="btn btn-primary">Sign In</a>
          <a href="/users/register" class="btn btn-primary">Sign Up</a>
        <% } else { %>
          <form action="/users/logout" method="POST" style="display:inline;">
            <button type="submit" class="btn btn-primary">Logout</button>
          </form>
        <% } %>
      </div>
    </div>
  </header>

  <main class="container-1200">
